body{
    background-color: #d9d9d9;
}

.box{
    width: 70%;
    margin: auto;
    margin-top: 150px;
    padding: 50px;
    background-color: white;


}
.btn{
    width: 100%;
    text-align: center;
}

.bt{
    background-color: #cb8e7e;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 4%;
    border-style: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px
}

.bts{
    border-style: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
}